/* Import google fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Main body background & Margin */
body {
	background: linear-gradient(to right, #c6c4d8, #EFEFBB);
    margin: 0;
	font-family: 'Lato';
}

/* ---------------------------- Global ---------------------------- */
/* Main title of pages */
.page-title {
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    margin-top: 3em;
}

/* Logo */
.logo {
    width: 60px;
    height: 60px;
}

/* Footer design */
.footer {
    height: auto;
    padding: 2em;
    background-color: black;
}

/* Footer info box */
.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* ---------------------------- Index Page ---------------------------- */
/* Homepage text box  */
.home-box {
    margin: 3em auto;
    background-color: white;
    width: 90%;
    height: auto;
    border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

/* Homepage text box info */
.home-box-info {
    padding: 4em;
    text-align: center;
}

/* ---------------------------- Region Page ---------------------------- */
/* Container of all Poke-cards */
.poke-box {
    padding: 2.4em 4em 0 4em;
    margin: 0 auto;
}

/* Each individual Pokemon with details */
#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 25px;
}

/* Individual cards to hold details */
.poke-card {
    list-style: none;
	margin: 10px;
	padding: 20px 0px 20px 0px;
    background-color: #f4f4f4;
    color: #222;
    display: grid;
    text-align: center;
    border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

/* Animation on hover */
.poke-card:hover {
    animation: bounce 0.5s linear;
    cursor: pointer;
}

/* Pokemon Image */
.poke-image {
    background-color: rgba(255, 255, 255, 0.6);
	border-radius: 80%;
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

/* Pokemon Information Box */
.poke-info {
    margin-top: 20px;
}

/* Pokemon ID */
.poke-id {
    background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

/* Pokemon Name */
.poke-name {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: normal;
}

/* Pokemon Type */
.poke-type {
    font-weight: normal;
    color: #636363;
    text-transform: uppercase;
    margin-bottom: 3px;
}

/* Name of pokemon type */
.poke-type-name {
    color: white;
    border-radius: 5px;
    padding: 3.5px 4px 3.5px 4px;
}

/* Pokemoon base stats */
.poke-stats {
    text-align: left;
    padding: 5px 11px 5px 11px;
    margin-top: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
}

/* Pokemon Details (Abilities, Height, Weight, Base-Stats*/
.poke-details {
    font-weight: normal;
    color: #636363;
    text-transform: capitalize;
    margin-top: 0.5px;
}


/* Region button box */
.button_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 10em 0 10em;
}

/* Region button */
.region_btn {
    margin-right: 10px;
}

/* Container to store region info */
.region-box {
    margin: 3em auto;
    background-color: white;
    width: 90%;
    height: auto;
    border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

/* Region info text */
.region-box-info {
    padding: 4em;
    text-align: center;
}

/* Container to store Pokemon Search Bar */
.searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pokemon Search Bar */
#searchBar {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 5px 10px;
    font-size: 12px;
    margin: 2em auto;
    text-align: center;
}

/* ---------------------------- Popup Menu ---------------------------- */
/* Display popup background */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.97;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Popup Card Design */
.popup-card {
    list-style: none;
	margin: 10px;
	padding: 2em;
    background-color: #f4f4f4;
    color: #222;
    display: grid;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(255, 255, 255, 0.5);
    border: 3px solid rgb(255, 255, 255);
}

/* Pokemon image in Popup Menu */
.popup-image {
    background-color: rgba(255, 255, 255, 0.6);
	border-radius: 90%;
    height: 180px;
    width: 180px;
    margin: 0 auto;
}

/* Image container of default & shiny pokemon in Popup */
.popup-image-container {
    margin-bottom: 0;
}

/* Design & Shiny Text Design */
.default-shiny-text {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Shiny Text Colour */
.shiny_text {
    color: rgb(160, 136, 0);
}

/* Spacing between Design & Shiny Text Design */
.text-spacing {
    margin-right: 7.9em;
}

/* Close button for pop menu */
#closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Close button design */
.closeBtn {
    background-color: rgb(255, 68, 0);
    padding: 10px 20px;
    color: white;
    margin: 1em 2em 0 0;
    border-radius: 3px;
    transition: transform 100ms;
}

/* Close button design on hover */
.closeBtn:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 1px 2px darkred;
}

/* ---------------------------- Animations ---------------------------- */
@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    opacity: 0.85;
    border-radius: 4px;
  }
  
  #topBtn:hover {
    background-color: #555;
  }