@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
/* Main body background & Margin */
body {
    background-color: skyblue;
    margin: 0;
	font-family: 'Lato';
}

/* -------------------- All pages -------------------- */
.page-title {
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    margin-top: 3em;
}

.logo {
    width: 80px;
    height: 80px;
}
/* -------------------- Index page -------------------- */

.home-box {
    margin: 3em auto;
    background-color: white;
    width: 90%;
    height: 30em;
    border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.home-box-info {
    padding: 4em;
    text-align: center;
}

/* -------------------- Region Page -------------------- */
/* Container of all Poke-cards */
.box {
    padding: 2.4em 4em 0 4em;
    margin: 0 auto;
}

/* Each individual Pokemon with details */
#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 25px;
}

/* Individual cards to hold details */
.poke-card {
    list-style: none;
	margin: 10px;
	padding: 20px;
    background-color: #f4f4f4;
    color: #222;
    display: grid;
    text-align: center;
    border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

/* Pokemon Image */
.poke-image {
    background-color: rgba(255, 255, 255, 0.6);
	border-radius: 80%;
    height: 180px;
    width: 180px;
    margin: 0 auto;
}

/* Pokemon Information Box */
.poke-info {
    margin-top: 20px;
}

/* Pokemon ID */
.poke-id {
    background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

/* Pokemon Name */
.poke-name {
    text-transform: capitalize;
    font-size: 32px;
    font-weight: normal;
}

/* Pokemon Type */
.poke-type {
    font-weight: normal;
    color: grey;
    text-transform: capitalize;
    margin-bottom: 0;
}

/* Region button box */
.button_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 10em 0 10em;
}

/* Region button */
.region_btn {
    margin-right: 10px;
}

.region-box {
    margin: 3em auto;
    background-color: white;
    width: 90%;
    height: 17.5em;
    border-radius: 20px;
	box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.region-box-info {
    padding: 4em;
    text-align: center;
}




